@font-face {
    font-family: 'Mulish';
    font-style: extrabold;
    font-weight: 800;
    src: url(../fonts/Mulish-ExtraBold.eot);
    src: url(../fonts/Mulish-ExtraBold.eot?#iefix) format('embedded-opentype'),
        url(../fonts/Mulish-ExtraBold.otf) format('otf'),
        url(../fonts/Mulish-ExtraBold.svg#Mulish-ExtraBold) format('svg'),
        url(../fonts/Mulish-ExtraBold.ttf) format('truetype'),
        url(../fonts/Mulish-ExtraBold.woff) format('woff'),
        url(../fonts/Mulish-ExtraBold.woff2) format('woff2');
}

:root {
    --font: Mulish, sans-serif;
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --prime-color: #fff;
        --second-color: #fff;
        --background-color: #000;
        --outline-color: red;
    }
}

@media screen and (prefers-color-scheme: light) {
    :root {
        --prime-color: #fff;
        --second-color: #000;
        --background-color: #fff;
        --outline-color: red;
    }
}

*:focus:not(:focus-visible) {
    outline: none;
}

*:focus-visible {
    outline: 3px solid var(--outline-color);
    outline-offset: 0px;
}

body {
    margin: 30px 10px 10px 30px;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: Mulish, sans-serif;
    overflow: hidden;
    background-color: var(--background-color);
}

.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item {
    width: 200px;
    height: 200px;
    /* border: 3px solid var(--second-color); */
    border-radius: 20px;
    background: linear-gradient(45deg, rgba(45, 34, 214, 1) 0%, rgba(166, 35, 163, 1) 35%, rgba(184, 18, 180, 1) 41%, rgba(11, 167, 199, 1) 100%);
    position: relative;
    margin-bottom: 20px;
    margin-right: 20px;
}


p {
    color: var(--prime-color);
    font-size: 26px;
    margin: 0;
    margin-right: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.container {
    color: white;
    position: relative;
    font-family: sans-serif;
}

.container::before,
.container::after {
    content: "";
    background-color: #fab5704c;
    position: absolute;
}

.container::before {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    top: 30%;
    right: 7%;
}

.container::after {
    content: "";
    position: absolute;
    height: 3rem;
    top: 8%;
    right: 5%;
    border: 1px solid;
}

.container .box {
    width: 170px;
    height: 170px;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.074);
    border: 1px solid rgba(255, 255, 255, 0.222);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 0.7rem;
    transition: all ease 0.3s;
}

.container .box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container .box .title {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.container .box div strong {
    display: block;
    margin-bottom: 0.5rem;
}

.container .box div p {
    margin: 0;
    font-size: 0.9em;
    font-weight: 300;
    letter-spacing: 0.1em;
}

.container .box div span {
    font-size: 0.7rem;
    font-weight: 300;
}

.container .box div span:nth-child(3) {
    font-weight: 500;
    margin-right: 0.2rem;
}

.container .box:hover {
    box-shadow: 0px 0px 20px 1px #ffbb763f;
    border: 1px solid rgba(255, 255, 255, 0.454);
}